<h1>DENX BOX</h1>

<div class="row">
  <%= form_tag '/upload', method: :post, multipart: true, class: 'col s12' do %>
    <div class="row card-panel">
      <%= hidden_field_tag :target_dir, @path %>
      <div class="file-field input-field col s9">
        <div class="btn">
          <i class="material-icons left">insert_drive_file</i>
          <span>ファイル選択</span>
          <input type="file" name="upload_file" />
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text"/>
        </div>
      </div>
      <div class="file-field input-field col s3">
        <button type="submit" class="waves-effect waves-light btn red">
          <i class="material-icons left">cloud_upload</i>アップロード
        </button>
      </div>
    </div>
  <% end %>
</div>

<ul id="files-collection" class="collection with-header">
  <li class="collection-header"></li>
  <% @box_files.each do |box_file| %>
  <a href="/files/<%= CGI.escape box_file[:path].to_s %>" class="collection-item avatar">
    <% if box_file[:is_directory] %>
    <i class="material-icons circle green">folder_open</i>
    <% else %>
    <i class="material-icons circle">insert_drive_file</i>
    <% end %>
    <span class="title"><%= box_file[:basename] %><%= box_file[:is_directory] ? '/' : '' %></span>
    <p><%= box_file[:updated_at] %><br>
      Second Line
    </p>
  </a>
  <% end %>
</ul>
