<div class="container">

  <p id="notice"><%= notice %></p>

  <h1>/<%= @path %> on DENX BOX</h1>

  <ul id="files-collection" class="collection">
    <% @box_files.each do |box_file| %>
    <a href="/<%= CGI.escape box_file[:path].to_s %>" class="collection-item avatar">
      <% if box_file[:is_directory] %>
      <i class="material-icons circle green">folder_open</i>
      <% else %>
      <i class="material-icons circle">insert_drive_file</i>
      <% end %>
      <span class="title"><%= box_file[:basename] %><%= box_file[:is_directory] ? '/' : '' %></span>
      <p><%= box_file[:updated_at] %><br>
        Second Line
      </p>
    </a>
    <% end %>
  </ul>

</div>
