<p id="notice"><%= notice %></p>

<h1>Listing Box Files</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @box_files.each do |box_file| %>
      <tr>
        <td><%= link_to 'Show', box_file %></td>
        <td><%= link_to 'Edit', edit_box_file_path(box_file) %></td>
        <td><%= link_to 'Destroy', box_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Box file', new_box_file_path %>
