<div class="row">
  <div class="col s6">
    <h1><%= link_to 'DENX BOX', '/files', class: 'text-blue-grey text-darken-4' %></h1>
  </div>
  <div class="col s6" style="margin-top: 2em;">
    <%= form_tag '/search', method: :get do %>
    <div class="input-field col s8">
      <input id="keyword" name="keyword" type="text" class="validate" value="<%= params[:keyword] %>">
      <label for="keyword">ファイル名検索</label>
    </div>
    <div class="input-field col s4">
      <button class="btn waves-effect waves-light" type="submit">
        <i class="material-icons">search</i>
      </button>
    </div>
    <% end %>
  </div>
</div>

<div class="row">
  <%= form_tag '/upload', method: :post, multipart: true, class: 'col s12' do %>
    <div class="row card-panel">
      <%= hidden_field_tag :path, @relative_path %>
      <div class="file-field input-field col s9">
        <div class="btn">
          <i class="material-icons left">insert_drive_file</i>
          <span>ファイル選択</span>
          <input type="file" name="upload_file" />
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text"/>
        </div>
      </div>
      <div class="file-field input-field col s3">
        <button type="submit" class="waves-effect waves-light btn red">
          <i class="material-icons left">cloud_upload</i>アップロード
        </button>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <a class="waves-effect waves-light btn" href="/files/<%= @parent_relative_path %>"><i class="material-icons left">keyboard_arrow_up</i>上へ</a>
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1"><i class="material-icons left">add</i>フォルダ作成</a>

  <!-- create folder modal -->
  <div id="modal1" class="modal">
    <%= form_tag '/create_folder', method: :post do %>
    <%= hidden_field_tag :path, @relative_path %>
    <div class="modal-content">
      <h4>フォルダ作成</h4>
      <div class="input-field">
        <input id="foldername" name="foldername" type="text" class="validate">
        <label for="foldername">フォルダ名を入力</label>
      </div>
    </div>
    <div class="modal-footer">
      <%= button_tag type: :submit, class: 'btn modal-action' do %>
      <i class="material-icons left">add</i>作成
      <% end %>
    </div>
    <% end %>
  </div>
</div>

<div class="row">
  <ul id="files-collection" class="collection with-header">
    <li class="collection-header">/<%= @relative_path %></li>
    <% @box_files.each do |box_file| %>
    <a href="/files/<%= box_file[:path] %>" class="collection-item avatar">
      <% if box_file[:is_directory] %>
      <i class="material-icons circle green">folder_open</i>
      <% else %>
      <i class="material-icons circle">insert_drive_file</i>
      <% end %>

      <span class="title"><%= box_file[:basename] %><%= box_file[:is_directory] ? '/' : '' %></span>
      <p>
        <%= box_file[:updated_at].strftime('%Y/%m/%d %H:%I:%S') %><br>
        <%= box_file[:path] %>
      </p>

      <%= form_tag '/delete', method: :post, class: 'delete-form' do %>
        <%= hidden_field_tag :path, box_file[:path] %>
        <%= button_tag class: 'secondary-content', style: 'border:none; background: none;' do %>
        <i class="material-icons red-text">delete</i>
        <% end %>
      <% end %>
    </a>
    <% end %>
  </ul>
</div>
